.calendar {
  background-color: #0D152A;
  margin: 1em;
  padding: 1em;
  width: 250px;
  height: 300px;
  overflow: scroll;
}

.imageEvent {
  border: solid black 1px;
  width: 80px;
  height: 80px;
}

.eventText {
  color: #EDE0CF;
}

p {
  color: #F3954D;
}

hr{
  background-color: #EDE0CF;
}

.proxEvent {
  text-align: center;
  padding-bottom: 2em;
}

.description {
  color: #EDE0CF;
  width: 225px;
  text-align: justify;
}
